Source: rp-pppoe
Maintainer: Lee Garrett <debian@rocketjump.eu>
Standards-Version: 4.6.2
Section: net
Priority: optional
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: binary-targets
Vcs-Browser: https://salsa.debian.org/debian/rp-pppoe
Vcs-Git: https://salsa.debian.org/debian/rp-pppoe.git
Homepage: https://dianne.skoll.ca/projects/rp-pppoe/

Package: pppoe
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ppp (>= 2.3.10-1)
Description: PPP over Ethernet driver
 PPP over Ethernet (PPPoE) is a protocol used by
 many ADSL Internet service providers. This package allows
 you to connect to those PPPoE service providers.
